@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

html, body {
  height: 100%;
  
  /* makes a smooth scroll (not supported in firefox and explorer) */
  scroll-behavior: smooth;
}

body {
    font-family: 'Alegreya', serif;
    padding-top: 55px; 
    display: flex;
    flex-direction: column;
}


/*-------Navbar ------------------------------------------------------ */

.navbar {
    background-color: #f9d5bb;
} 


/* -------- Label, badge for Cart in Navbar ---------*/

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}


/*--------- Background image ---------------------------------------------*/

.bg_image {
    background: url("/static/img/background.jpg") no-repeat center center fixed;
    background-color: #f5f6fa;;
    background-size: cover;
    width: 100%;
    margin: auto;
    z-index: 1;
    padding: 0px;
    overflow: hidden;
    flex: 1 0 auto;
        
}


/*--------- Jumbotron --------- */

.jumbotron {
    background-color: transparent;
    padding: 0px;
    margin-top: 50px;
}

.jumbotron-text {
    color: #fffdf9;
} 


/*----- Background Image overlay ----- */

.opaque-overlay {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


/*---------- About Me section ----------------------------------------- */
 .about_section {
    padding: 50px 20px;
} 



/*------ Featured Products section ------------------------------------ */

/*-----images for featured products row-----*/

.bg_images_featured {
    background-color: #f6f4e6;
    background-size: cover;
    width: 100%;
    margin: auto;
    z-index: -1;
    padding: 0px;
}


/*----column Content for the featured products carousel----*/

.content_imgs_featured {
    padding: 30px 20px 40px 20px;
    margin: auto;
}

.carousel-inner img {
    margin: auto;
  } 



/*---------- Register and Login forms -----------------------------------*/
.accountform {
    padding-top: 20px;
    padding-bottom: 30px;
}


/*------------Shop page content----------------------------------------- */


/*--- Search btn ----*/
.search_btn {
    font-size: 15px;
}

caption p {
    word-wrap: break-word;
}

.products_row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    align-content: center;
}

.panel-default {
    border-color: transparent;
    padding: 15px;
    margin: 15px;
    background-color: white;
}


/* The product image */
.product {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;
}

.products_card {
    border: 1px solid #ddd;
    min-width: 250px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.products_heading {
    padding-top: 70px;
}

/* Using a min-height for the product description
to prevent the <div> height to vary between 
different product descriptions. */

.product-description {
    min-height: 40px;
}


/*---------- Contact form ----------------------------------------------*/

.contact_btn {
    margin-bottom: 15px;
}


/*----------- Blog image -----------------------------------------------*/

.img-fluid {
    align-content: center;
}

/*---------- Footer ----------------------------------------------------*/

.page-footer {
    background-color: #cccccc;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
}

.footer-details a {
    color: #6c757d;
    font-size: small;
}