@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

body {
    font-family: 'Alegreya', serif;
    padding-top: 100px;
}


.bg_image {
    background: url("/static/images/freestocks-org-RmrQTzKNe2M-unsplash.jpg") no-repeat center center fixed;
    background-color: #f5f6fa;;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: auto;
    z-index: 1;
    padding: 0px;
    overflow: hidden;
        
}

/*--- jumbotron ---- */

.jumbotron {
    background-color: transparent;
    padding: 0px;
}


/*--- Background Image overlay --- */

.opaque-overlay {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/*--- Search btn ----*/
.search_btn {
    font-size: 15px;
}




.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

/* Using a min-height for the product description
to prevent the <div> height to vary between 
different product descriptions. */

.product-description {
    min-height: 40px;
}


/*----------------- The footer ----------------*/
footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}