{% extends "base.html" %}
{% load bootstrap_tags %}

<!-- Page title here -->
{% block page_title %}Add Inspiration | Handcrafted heart{% endblock %}

<!-- Page heading here -->
{% block page_heading %}
<div class="row justify-content-center">
   <div class="col-12 col-md-6">
        <!-- Page Headline, so the user knows which page they are on -->
        <br>
        <h2 class="text-light text-center">Add some Inspiration</h2>
    </div>
</div>
{% endblock %}

<!-- Add Inspiration form -->
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 mb-5">
    <form class="text-light" method="POST" enctype="multipart/form-data" action="{% url 'add_inspiration' %}">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <input type="hidden" name="inspiration_id" value="{{inspiration.id}}"/>
        <button type="submit" class="btn btn-info rounded-1">Add Inspiration</button>
    </form>
    </div>
</div>


{% endblock %}