{% extends 'base.html' %}
{% load bootstrap_tags %}


<!-- Page title here -->
{% block page_title %}Inspiration | Handcrafted heart{% endblock %}

<!-- Page heading here -->
{% block page_heading %}
<div class="row justify-content-center">
   <div class="col-12">
        <!-- Page Headline, so the user knows which page they are on -->
        <br>
        <h2 class="text-white text-center">Knitting Inspiration</h2>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-12">
  <!-- Title section  -->  
        <h3 class="text-center text-light">Share your knowledge</h3>
        <p class="text-light text-center mx-auto w-75">Let´s share that rich knitting knowledge to inspire one another. 
        If you have any advice, tips & trix or patterns you want to share with us all, if you want to edit a post click Edit Inspiration, and if you want to add new Inspiration click on the button Add Inspiration!</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        
    <!-- Here the user can see the shared Inspiration -->
    {% for inspiration in inspiration %}     
        <div class="card mb-3 w-75 mx-auto">
                <h5 class="card-header">Inspiration</h5>
                <div class="card-body">
                <h5 class="card-title">{{ inspiration.title }}</h5>
                <p class="card-text">{{ inspiration.content }}</p>
                <div class="card-footer text-muted">{{ inspiration.published_date }}</div>
                <a href="{% url 'edit_inspiration' inspiration.id %}" class="btn btn-sm btn-info">Edit Inspiration</a>
                </div>
        </div>
    {% endfor %}
       
                        
    </div>
</div>
    
<div class="row">
    <div class="col-12">
       <!-- Button to add inspiration  -->
       <a href="{% url 'add_inspiration' %}" class="btn btn-info rounded-1 btn-md" >Add Inspiration</a>
    </div>
</div>

{% endblock %}