{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ inspiration.title }}</h3>
            <div class="row">
                <div class="col-md-12">
                    <p>{{ inspiration.content }}</p>
                    <a href="{% url 'get_inspiration' %}" class="btn btn-info">Back to Inspire Page</a>
                    <a href="{% url 'edit_inspiration' inspiration.id %}" class="btn btn-info">Edit Inspiration</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}