{% extends "base.html" %}

<!-- Page title here -->
{% block page_title %}Edit Inspiration | Handcrafted heart{% endblock %}

<!-- Page heading here -->
{% block page_heading %}
<div class="row justify-content-center">
   <div class="col-12 col-md-6">
        <!-- Page Headline, so the user knows which page they are on -->
        <br>
        <h2 class="text-light text-center">Edit Inspiration</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 mb-5">
    <form class="text-light" method="POST" enctype="multipart/form-data" action="{% url 'edit_inspiration' %}">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info rounded-1">Add the edited Inspiration</button>
    </form>
    </div>
</div>


{% endblock %}